.jumbotron{
    background-color: yellow;
    color: black;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}


footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 20px;
}

footer a{
    text-decoration: none;
}

.car-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}

.card-hotel p{
    text-align: justify;
}

.btn-reserva{
    width: 100%;
    margin-bottom: 10px;
}

.footer-address-icon{
    padding-right:10px;
}
